.popover_action {
  @apply flex flex-col justify-between items-center w-[150px] z-50;
}

.circle_hover {
  @apply h-8 w-8 flex flex-col items-center justify-center border-2 border-white rounded-full;
}
.popover_action:hover .circle_hover {
  @apply border-yellow-500;
  transition: all 0.3s ease-in-out;
}
.circle {
  @apply bg-yellow-500 rounded-full w-5 h-5 opacity-0;
}
.popover_action:hover .circle {
  @apply opacity-100;
  transition: all 0.3s ease-in-out;
}
.popover_card {
  @apply w-full rounded-lg bg-[rgba(0,0,0,0.3)] text-center opacity-0;
}
.popover_card p {
  @apply text-white;
}
.popover_action:hover .popover_card {
  @apply opacity-100;
  transition: all 0.3s ease-in-out;
}
