.container {
  @apply w-10 h-52 rounded-md bg-[rgba(0,0,0,0.5)] lg:mx-10 mx-5 lg:mt-[5%] flex flex-col justify-between items-center;
}
.item {
  @apply relative w-10 h-10 rounded-md flex items-center justify-center;
}
.item:hover {
  @apply bg-[rgba(255,255,255,0.2)];
}
.icon {
  @apply w-6 h-6 text-white;
}
.title {
  @apply text-white font-bold bg-[rgba(0,0,0,0.5)] px-2 py-1 rounded-md absolute left-[-70px] opacity-0;
}
.title .isOpen {
  @apply text-yellow-500;
}
.isOpen {
  @apply text-yellow-500;
}
.isClose {
  @apply text-white;
}
.title .isClose {
  @apply text-white;
}
.item:hover .title {
  @apply opacity-100;
  transition: opacity 0.5s ease-in-out;
}

.mixer {
  @apply opacity-0 -z-50;
  transition: opacity 0.5s ease-in-out;
}
.openmixer {
  @apply opacity-100 z-50;
  transition: opacity 0.5s ease-in-out;
}
.scenes {
  @apply opacity-0 -z-50;
  transition: opacity 0.5s ease-in-out;
}
.openscenes {
  @apply opacity-100 z-50;
  transition: opacity 0.5s ease-in-out;
}

.generalsetting {
  @apply opacity-0 -z-50;
  transition: opacity 0.5s ease-in-out;
}
.opengeneralsetting {
  @apply opacity-100 z-50;
  transition: opacity 0.5s ease-in-out;
}
