/* Container */
.container {
  @apply py-2 lg:py-3 pl-2 lg:pl-3  absolute left-[15%] top-[10%] lg:top-[25%] lg:left-[35%]  rounded-lg backdrop-blur-[50px] border-2 opacity-100 flex flex-row justify-between items-center;
  transition: opacity 0.5s;
}
.hiden {
  @apply opacity-0;
  transition: opacity 0.5s;
  transform: translate(0, 500%);
  /* @apply hidden; */
}
.title {
  @apply text-white text-xs lg:text-sm font-bold text-center;
}
/* Left - controll */
.controll {
  @apply w-52 lg:w-60 h-80 lg:h-96 flex flex-col justify-between items-center;
}

.mood_menu {
  @apply w-full h-1/5 py-2 lg:py-3 rounded-lg backdrop-blur-[10px] border-2 flex flex-row justify-between items-center;
}
.mood_menu_item {
  @apply basis-1/3 flex flex-col justify-center items-center;
}
.mood_active {
  @apply text-yellow-300;
}
.mood_menu_bg_icon {
  @apply w-6 h-6 lg:w-8 lg:h-8 rounded-full bg-white flex justify-center items-center;
}
.mood_menu_item_title {
  @apply text-white font-mono text-xs mt-1 lg:mt-2 lg:text-sm;
}
.mood_active .mood_menu_item_title {
  @apply text-yellow-300;
}
.icon {
  @apply w-4 h-4 lg:w-6 lg:h-6;
}
/* Music volume */
.music_volume {
  @apply w-full h-1/5 py-2 lg:py-3 flex flex-col justify-between items-center rounded-lg backdrop-blur-[10px] border-2;
}

.music_volume_range {
  @apply w-[90%];
}

/* Sound */
.sounds {
  @apply py-2 lg:py-3 w-full h-1/2 flex flex-col justify-between items-center rounded-lg backdrop-blur-[10px] border-2;
}
.sounds_list {
  @apply w-full h-full flex flex-col justify-between items-center overflow-y-auto;
}
.sounds_item {
  @apply w-[90%] flex flex-row justify-between items-center my-2 lg:my-2;
}
.sounds_item_title {
  @apply text-white font-bold text-xs lg:text-sm w-[40%];
}
.sounds_item_volume {
  @apply w-[60%];
}

.listMusics {
  @apply w-64 ml-2 lg:ml-3 lg:w-60 h-80 lg:h-96 flex flex-col;
}
.listData {
  @apply w-full h-full flex flex-col overflow-y-auto;
}
