/*-------todos list------*/
.todosList {
  @apply py-2 px-5 lg:w-64 lg:h-72 w-48 h-52 flex flex-col justify-between items-center opacity-100  rounded-lg backdrop-blur-[50px] border-2;
  transition: opacity 0.5s;
}
.hiden {
  @apply opacity-0;
  transition: opacity 0.5s;
  transform: translate(500%, 0);
  /* @apply hidden; */
}
.close {
  @apply cursor-pointer absolute top-2 right-2 text-white hover:text-yellow-500;
}

.todoList_title {
  @apply w-full text-center text-white font-bold;
}
.todoList_list {
  @apply w-full h-full mt-2 flex flex-col justify-start text-white font-bold overflow-y-auto overflow-x-hidden;
}
.todoList_list::-webkit-scrollbar {
  display: none;
}
.todosList_form {
  @apply w-full flex justify-center;
}
.todosList_form input {
  @apply w-1/2 outline-none bg-none text-yellow-500 bg-transparent;
}
.todosList_form_button {
  @apply border-none rounded-lg py-1 px-2 text-yellow-500 font-bold;
}
.todoItem {
  @apply w-full flex flex-row justify-between items-center mb-2;
}
.todoItem_text {
  @apply text-yellow-500 font-bold lg:text-sm text-xs;
}
.todoItem_text_check {
  @apply text-white line-through;
}
.todoItem_delete {
  @apply text-white font-bold lg:text-base text-sm;
}
